body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(241, 235, 206);
    
  }
  
  .topnav {
    overflow: hidden;
    background-color: #5f2121;
    stroke: 2px #5f2121;
  }
  
  .topnav a {
    float: left;
    color: #caba86;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(156, 141, 97);
    color: rgb(254, 254, 254);
  }
  
  .topnav a.active {
    background-color: #4c4b47;
    color: rgb(160, 228, 114);
  }
  .searchField {
    margin-top:14px;

  }

  input[type=text] {
    margin: 5px;
    border-radius: 5px;
    border-style: double;
    border-color: #e6d32b;
    stroke: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

button {
  margin: 5px;
  border-radius: 5px;
  border-style: double;
  border-color: #e6d32b;
  stroke: 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


button:hover {
  background-color: rgb(182, 163, 163);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d4f;
  backdrop-filter: blur(5px);
  padding-top: 50px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  padding:5px;
  border-radius: 5px;
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}